@tailwind base;
@tailwind components;
@tailwind utilities;


html[lang="es"], .high-contrast {
    @apply text-black bg-white dark:text-white dark:bg-neutral-900;
}

.high-contrast-b {
    @apply border-black dark:border-white;
}

.mid-contrast {
    @apply text-neutral-800 bg-neutral-400 dark:text-neutral-200 dark:bg-neutral-600;
}

.mid-contrast-b {
    @apply border-neutral-400 dark:border-neutral-600;
}


.flex-center {
    @apply flex justify-center items-center;
}

.btn-primary {
    @apply text-white bg-voyage-500 hover:bg-voyage-600 active:bg-voyage-700 dark:bg-voyage-700 dark:hover:bg-voyage-600 dark:active:bg-voyage-500 duration-150;
}